# This is here so i can test data cleaning

In [1]:
import pandas as pd
from extract import extract_data

Customer dataset

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [29]:
data = extract_data('../data/olist_order_items_dataset.csv')

In [34]:
data.head()

data.order_id = data.order_id.astype('string')
data.product_id = data.product_id.astype('string')
data.seller_id = data.seller_id.astype('string')

In [ ]:
data.shipping_limit_date = pd.to_datetime(data.shipping_limit_date)
data.shipping_limit_date = data.shipping_limit_date.dt.tz_localize(None)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [ ]:
data.geolocation_state.value_counts()

mapping = {
    'SP': 'São Paulo',
    'RJ': 'Rio de Janeiro',
    'MG': 'Minas Gerais',
    'RS': 'Rio Grande do Sul',
    'PR': 'Paraná',
    'SC': 'Santa Catarina',
    'BA': 'Bahia',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'PE': 'Pernambuco',
    'CE': 'Ceará',
    'PA': 'Pará',
    'MT': 'Mato Grosso',
    'MA': 'Maranhão',
    'MS': 'Mato Grosso do Sul',
    'PB': 'Paraíba',
    'PI': 'Piauí',
    'RN': 'Rio Grande do Norte',
    'AL': 'Alagoas',
    'SE': 'Sergipe',
    'TO': 'Tocantins',
    'RO': 'Rondônia',
    'AM': 'Amazonas',
    'AC': 'Acre',
    'AP': 'Amapá',
    'RR': 'Roraima'
}
data['geolocation_state_initials'] = data['geolocation_state']
data['geolocation_state'] = data['geolocation_state'].map(mapping)

In [ ]:
# Drop rows with more than 1 NaN value
data = data.dropna(thresh=len(data.columns) - 1)

# Drop duplicate rows
data = data.drop_duplicates()